.techBlue {
	background-color: #002F8B;
}

.techRed {
	background-color: #E31B23;
}

.techWhite {
	background-color: white;
}

.socialMediaButtons li {
	display:inline-block;
	vertical-align: bottom;
	margin: 0;	
	padding: 0;
}
.socialMediaButtons img {
	margin: 0;	
	padding: 0;
}
