.techBlue {
	background-color: #002F8B;
}

.techRed {
	background-color: #E31B23;
}

.techWhite {
	background-color: white;
}

.socialMediaButtons a{
	display:inline;
	float: right;
	vertical-align: bottom;
	margin: 0;	
	padding: 0;
}

.dropdown-menu li > a:hover {
	background-image: none;
}

.socialMediaButtons {
	padding-right:0;
}

.socialMediaButtons img {
	height: 32px;
}

.socialMediaButtonsBottom {
	text-align: center;
}

.socialMediaButtonsBottom a {
	display:inline;
	vertical-align: bottom;
	margin: -2px;	
	padding: 0px;
}

.socialMediaButtonsBottom img {
	height: 32px;
}

.roster th {
	background-color: #002F8B;
	color: white;
}
.yearSelector {
	float:right;
	margin-bottom: 5px;
}
.roster {
	background-color: white;
	overflow-x:scroll;
}

.hofText p {
	font-weight: bolder;
	
}


